/* --------- COLORS ---------*/
$primary-color: #282828
$secundary-color: #64A9FE
$typecolorW: white
$typecolorB: #282828
$contrast-color: orange
$background: #282828

/* --------- TYPOGRAPHY ---------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i')

$serif_font: 'Lora', serif
$sans_font: 'Open Sans', sans-serif


/* --------- MIXINS---------*/
=img
    img
        object-fit: contain
        width: 100%
        height: 100%

$padding: 6rem 8rem 6rem 9rem


/* --------- GENERAL---------*/
*
    //border: .5px solid pink
    margin: 0
    padding: 0
    box-sizing: border-box
    &::selection
        background-color: lighten($contrast-color, 10)

html
    scroll-behavior: smooth

body
    font-family: $sans_font
    font-size: 13px
    color: $typecolorW
    background-color: $background

ul
    list-style: none
    margin: 0
    padding: 0

a
    text-decoration: none
    margin: 0
    color: darken($secundary-color,15)

h1
    font-size: 4rem
    font-weight: 700
    margin: 0
    font-family: $serif_font

h2
    font-size: 3rem
    font-weight: 700
    margin: 0
    font-family: $serif_font

h3
    font-size: .9rem
    font-weight: 500
    margin: 0

p
    font-size: 1.1rem
    font-weight: 400
    margin: 0
    font-family: $sans_font
    line-height: 2rem


/* --------- HEADER---------*/

header
    background-color: rgba($background, .95)
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    padding: .7rem 1rem .7rem 1rem
    position: fixed
    width: 100%
    top: 0
    left: 0
    .imagotype
        width: 4.5rem
        .logotype
            display: flex
            justify-content: center
            align-items: center
            color: $typecolorB
            font-size: 1.1rem
            font-weight: 800
            letter-spacing: .12rem
            background-color: $typecolorW
            border-radius: 50%
            width: 3.5rem
            height: 3.5rem
            transition: .3s
            &:hover
                background-color: lighten($secundary-color, 8)
    nav
        display: flex
        width: 40%
        align-items: center
        margin: 0 4rem  0 0
        font-size: 1rem
        ul
            width: 100%
            justify-content: space-between
            display: flex
            flex-flow: row wrap
            a
                color: $typecolorW
                &:hover
                    border-bottom: 5px solid lighten($secundary-color, 8)


/* --------- MAIN---------*/

main
    margin: 4rem 0 0 0
    .intro
        padding: 5rem 8rem 6rem 9rem
        .title
            margin: 0 0 1.5rem 0
        .description
            font-family: $serif_font
            font-size: 3rem
            line-height: 4.5rem
    .column2
        padding: $padding
        .title
            margin: 0 0 1.7rem 0
        .content
            -webkit-column-count: 2
            -moz-column-count: 2
            column-count: 2
            column-gap: 40px
            line-height: 1.7rem
            p
                margin: 1.7rem 0 0 0
                &:first-child
                    margin: 0
        a
            color: darken($secundary-color,15)
            font-weight: 600
            transition: .5s
            &:hover
                color: $secundary-color

    .columnImgLeft
        padding: $padding
        .title
            margin: 0 0 2.4rem 0
        .row1
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            .image
                width: 48%
                min-width: 400px
                flex-grow: 2
                img
                    object-fit: contain
                    width: 100%
                    height: 100%
            .text
                width: calc(52% - 2rem)
                flex-grow: 1
                p
                margin: .6rem 0 0 0
                &:first-child
                    margin: 0
                a
                    color: darken($secundary-color,15)
                    font-weight: 600
        .row2
            margin: 2rem 0 0 0
            p
                margin: .6rem 0 0 0
        a
            color: darken($secundary-color,15)
            font-weight: 600
            transition: .5s
            &:hover
                color: $secundary-color

    .threeColumn
        .row1
            margin: 2rem 0 0 0
            p
                margin: .9rem 0 0.9rem 0
        .row2
            display: flex
            flex-flow: column wrap
            justify-content: space-around
            .text
                width: calc(100% - 2rem)
                .image
                    width: 50px
                    height: 50px
                    margin: 0 auto
                    margin-bottom: 1.2rem
                    margin-top: 1.2rem
                    img
                        object-fit: contain
                        width: 100%
                        height: 100%

                span
                    display: inline-block
                    display: table
                    margin: 0 auto
                    width: 7rem
                    border-top: 2.8px solid lighten($primary-color, 15)

                p
                    margin: .9rem 0 0 0


    .section1
        background-color: lighten($secundary-color, 15)
        color: $typecolorB

    .section2
        background-color: $primary-color
        color: $typecolorW
    .section3
        background-color: lighten($contrast-color, 35)
        color: $typecolorB

    .list
        margin: 0 0 0 0.9rem
        .element
            font-size: 1.1rem
            margin: .2rem 0 0 0
            a
                font-size: 1.1rem
                color: darken($secundary-color,15)
                font-weight: 600
                transition: .5s
                &:hover
                    color: $secundary-color

    .list_contact
        margin: 0 0 0 1.2rem
        .element
            font-size: 1.1rem
            margin: .2rem 0 0 0
            display: flex
            flex-flow: row wrap
            justify-content: flex-start
            align-items: center
            img
                width: 50px
                height: 50px
                margin-right: 10px



/* --------- TABLE---------*/
.tg
    padding: 2rem 0 0 0
    display: flex
    justify-content: center
    font-family: $sans_font
    font-size: 1.2rem
    tr
        text-align: left
        &:first-child
            background-color: darken($primary-color, 5)
    th
        padding: 1rem 2rem 1rem 2rem
        border-bottom: 1.2px solid lighten($primary-color, 15)
    td
        padding: 1rem 2rem 1rem 2rem
        border-bottom: 1.2px solid lighten($primary-color, 15)

/* --------- FOOTER---------*/
footer
    display: flex
    justify-content: center
    background-color: darken($primary-color,5)
    padding: 2rem
    a
        margin: 0 0 0 .5rem
        color: $typecolorW
        transition: .2s
        &:hover
            color: lighten($secundary-color, 5)



/* --------- SCROLLBAR ---------*/
::-webkit-scrollbar
    width: 10px

/* Track */
::-webkit-scrollbar-track
    background: lighten($primary-color, 40)
    -webkit-box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,0.16)
    -moz-box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,0.16)
    box-shadow: inset 1px 1px 5px 2px rgba(0,0,0,0.16)
    border-radius: 5px
/* Handle */
::-webkit-scrollbar-thumb
    background: lighten($primary-color, 5)
    border-radius: 5px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: darken($primary-color, 10)