/* --------- COLORS --------- */
/* --------- TYPOGRAPHY --------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
/* --------- MIXINS--------- */
/* --------- GENERAL--------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: #ffb733; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  background-color: #282828; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  margin: 0;
  color: #187ffe; }

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  font-family: "Lora", serif; }

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  font-family: "Lora", serif; }

h3 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0; }

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem; }

/* --------- HEADER--------- */
header {
  background-color: rgba(40, 40, 40, 0.95);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.7rem 1rem 0.7rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  header .imagotype {
    width: 4.5rem; }
    header .imagotype .logotype {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #282828;
      font-size: 1.1rem;
      font-weight: 800;
      letter-spacing: 0.12rem;
      background-color: white;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      transition: 0.3s; }
      header .imagotype .logotype:hover {
        background-color: #8dbffe; }
  header nav {
    display: flex;
    width: 40%;
    align-items: center;
    margin: 0 4rem 0 0;
    font-size: 1rem; }
    header nav ul {
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-flow: row wrap; }
      header nav ul a {
        color: white; }
        header nav ul a:hover {
          border-bottom: 5px solid #8dbffe; }

/* --------- MAIN--------- */
main {
  margin: 4rem 0 0 0; }
  main .intro {
    padding: 5rem 8rem 6rem 9rem; }
    main .intro .title {
      margin: 0 0 1.5rem 0; }
    main .intro .description {
      font-family: "Lora", serif;
      font-size: 3rem;
      line-height: 4.5rem; }
  main .column2 {
    padding: 6rem 8rem 6rem 9rem; }
    main .column2 .title {
      margin: 0 0 1.7rem 0; }
    main .column2 .content {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      column-gap: 40px;
      line-height: 1.7rem; }
      main .column2 .content p {
        margin: 1.7rem 0 0 0; }
        main .column2 .content p:first-child {
          margin: 0; }
    main .column2 a {
      color: #187ffe;
      font-weight: 600;
      transition: 0.5s; }
      main .column2 a:hover {
        color: #64A9FE; }
  main .columnImgLeft {
    padding: 6rem 8rem 6rem 9rem; }
    main .columnImgLeft .title {
      margin: 0 0 2.4rem 0; }
    main .columnImgLeft .row1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      main .columnImgLeft .row1 .image {
        width: 48%;
        min-width: 400px;
        flex-grow: 2; }
        main .columnImgLeft .row1 .image img {
          object-fit: contain;
          width: 100%;
          height: 100%; }
      main .columnImgLeft .row1 .text {
        width: calc(52% - 2rem);
        flex-grow: 1;
        margin: 0.6rem 0 0 0; }
        main .columnImgLeft .row1 .text:first-child {
          margin: 0; }
        main .columnImgLeft .row1 .text a {
          color: #187ffe;
          font-weight: 600; }
    main .columnImgLeft .row2 {
      margin: 2rem 0 0 0; }
      main .columnImgLeft .row2 p {
        margin: 0.6rem 0 0 0; }
    main .columnImgLeft a {
      color: #187ffe;
      font-weight: 600;
      transition: 0.5s; }
      main .columnImgLeft a:hover {
        color: #64A9FE; }
  main .threeColumn .row1 {
    margin: 2rem 0 0 0; }
    main .threeColumn .row1 p {
      margin: 0.9rem 0 0.9rem 0; }
  main .threeColumn .row2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around; }
    main .threeColumn .row2 .text {
      width: calc(100% - 2rem); }
      main .threeColumn .row2 .text .image {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem; }
        main .threeColumn .row2 .text .image img {
          object-fit: contain;
          width: 100%;
          height: 100%; }
      main .threeColumn .row2 .text span {
        display: inline-block;
        display: table;
        margin: 0 auto;
        width: 7rem;
        border-top: 2.8px solid #4e4e4e; }
      main .threeColumn .row2 .text p {
        margin: 0.9rem 0 0 0; }
  main .section1 {
    background-color: #b0d3fe;
    color: #282828; }
  main .section2 {
    background-color: #282828;
    color: white; }
  main .section3 {
    background-color: #ffe4b3;
    color: #282828; }
  main .list {
    margin: 0 0 0 0.9rem; }
    main .list .element {
      font-size: 1.1rem;
      margin: 0.2rem 0 0 0; }
      main .list .element a {
        font-size: 1.1rem;
        color: #187ffe;
        font-weight: 600;
        transition: 0.5s; }
        main .list .element a:hover {
          color: #64A9FE; }
  main .list_contact {
    margin: 0 0 0 1.2rem; }
    main .list_contact .element {
      font-size: 1.1rem;
      margin: 0.2rem 0 0 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center; }
      main .list_contact .element img {
        width: 50px;
        height: 50px;
        margin-right: 10px; }

/* --------- TABLE--------- */
.tg {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem; }
  .tg tr {
    text-align: left; }
    .tg tr:first-child {
      background-color: #1b1b1b; }
  .tg th {
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1.2px solid #4e4e4e; }
  .tg td {
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 1.2px solid #4e4e4e; }

/* --------- FOOTER--------- */
footer {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  padding: 2rem; }
  footer a {
    margin: 0 0 0 0.5rem;
    color: white;
    transition: 0.2s; }
    footer a:hover {
      color: #7db7fe; }

/* --------- SCROLLBAR --------- */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #8e8e8e;
  -webkit-box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.16);
  box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.16);
  border-radius: 5px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f0f0f; }

/*# sourceMappingURL=main.css.map */
